<app-navbar [email]="this.userName"></app-navbar>
<main class="main-container">
    <div class="main-features">
        <app-meal-recommendation></app-meal-recommendation>
        @if (isAdmin || this.userName) {
            <app-reservation [email]="this.userName" [isAdmin]="this.isAdmin"></app-reservation>
        }
        <app-feedback></app-feedback>
        @if (isAdmin) {
            <app-promote-user-admin></app-promote-user-admin>
        }
    </div>
    <span class="content-divider"></span>
    <app-menu></app-menu>
</main>