<div class="resetpsw-container">
    <div class="left-column">
      <img src="../../../../assets/resetpswBg.jpg" alt="resetpsw Image">
    </div>
    <div class="right-column">
        <h3>Reset Your Password</h3>
        <form class="resetpsw-form" (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" required autocomplete="new-email" [(ngModel)]="email">
            </div>
            @if (errorMessage) {
                <h4 class="error-msg">{{errorMessage}}</h4>
            }
            @if (successMessage) {
                <h4 class="success-msg">{{successMessage}}!</h4>
            }
            <button type="submit" class="resetpsw-btn">Change Password</button>
            <span><a routerLink="/login" class="link">Go to login</a><i class="fa-solid fa-door-open"></i></span>
        </form>
    </div>
</div>